<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
</head>
<body>
    <h1>ToDo List</h1>
    <a href="{% url 'add_todo_item' %}">Add New Task</a>
    <ul>
        {% for item in items %}
            <li>
                {{ item.title }} - {{ item.description }}
                <a href="{% url 'edit_todo_item' item.id %}">Edit</a>
                <a href="{% url 'delete_todo_item' item.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>